@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz@12..72&display=swap');

:root {
	--color-white: #ffffff;
	--color-grey: #d1d1d1;
	--color-grey-lite: #f1f1f1;
	--color-grey-dark: #666666;

	--color-primary: #17a398;
	--color-primary-dark: #178980;
	--color-primary-lite: #c2f5f1;

	--color-danger: #dc4c64;
	--color-danger-lite: #fdd8de;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body,
.app {
	overflow-x: hidden;
}

.iconify {
	font-size: 1.5rem;
	width: 1.5rem;
}
