@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz@12..72&display=swap');

:root {
	--color-white: #ffffff;
	--color-primary: #17a398;
	--color-primary-dark: #178980;
	--color-grey: #d1d1d1;
	--color-grey-lite: #f1f1f1;
	--color-grey-dark: #666666;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body,
.app {
	overflow-x: hidden;
}

.iconify {
	font-size: 1.5rem;
}
